<html>
<body>
    <div class="login">
       <h1>House-Rent Predictor</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>House-Rent Predictor</legend>
        </h1>
        <div class="mb-3">
            <label class="form-label">House BHK</label>
            <input class="form-control" type="number" name="BHK" style="width: 200px;" 
                placeholder="Enter your Reading Score" min='1' max='6' />
        </div>

        <div class="mb-3">
            <label class="form-label">House Size</label>
            <input class="form-control" type="number" name="Size" style="width: 100px;"
                placeholder="Enter area size" min='10' max='10000' />
        </div>

        <div class="mb-3">
            <label class="form-label">Building floor</label>
            <input class="form-control" type="number" name="Floor" style="width: 200px;"
                placeholder="Enter your preferred floor" min='0' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">Area Type</label>
            <input class="form-control" type="number" name="Area_Type" style="width: 400px;"
                placeholder="Super Area=1,Carpet Area=2, Built Area=3" min='1' max='3' />
        </div> 
        
        <div class="mb-3">
            <label class="form-label">City Pincode</label>
            <input class="form-control" type="number" name="City" style="width: 200px;"
                placeholder="Enter first 4 digit of pincode" min='1000' max='9999' />
        </div> 
        
        <div class="mb-3">
            <label class="form-label">Furnishing Status</label>
            <input class="form-control" type="number" name="Furnishing_Status" style="width: 400px;"
                placeholder="Unfurnished: 0, Semi-Furnished=1, Furnished=2" min='0' max='2' />
        </div> 
        
        <div class="mb-3">
            <label class="form-label">Tenant Preferred</label>
            <input class="form-control" type="number" name="Tenant_Preferred" style="width: 400px;"
                placeholder="Bachelors/Family=2, Bachelors=1, Family=3" min='1' max='3' />
        </div> 
        
        
        <div class="mb-3">
            <label class="form-label">Bathroom</label>
            <input class="form-control" type="number" name="Bathroom" style="width: 200px;"
                placeholder="Enter NO. of Bathroom" min='1' max='6' />
        </div>



         <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict your Maths Score" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>